body {
	font-family: 'Yrsa', serif;
}
#img_container {

}
#trend {
	position: absolute;
	width: 500px;
	top: 5%;
	height: 300px;
	left: calc(50% - 250px);
	margin:0 auto;
}
.welcome {
	font-size: 22px;
	font-weight: 600;
	position: absolute;
	top: 380px;
	left: 50%;
	-webkit-transform: translateX(-50%);
}
.middle_container {
	position: absolute;
	margin-top:390px;
	left: calc(50% - 450px);
}
.link {
	display: inline-block;
	margin: 50px 100px 25px 100px;
}
.link-img {
	width: 250px;
	height: 200px;
}
a {
	color: white;
	text-decoration: none;
}
.text{
	font-size: 24px;
	font-weight: 700;
	position: relative;
	display: inline-block;
	top: 20px;
	right: 160px;
}